<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <title>Query Chest</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Query Chest</a>
            </li>
        </ul>
    </div>
</nav>
<style>
    .maincontent {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
</style>

<div class="maincontent" style="padding: 2em;">
    {% block content %}{% endblock %}
</div>
<div class="container mt-3">
    <hr/>
    <a href="/" target="_blank">Query Chest</a>
    &middot;
    <a href="https://wikitech.wikimedia.org" class="text-muted" target="_blank">
        wikitech.wikimedia.org</a>
    &middot;  
    <a href="https://phabricator.wikimedia.org/tag/tool-query-chest/" class="text-muted" target="_blank">
        report issues
    </a>
    &middot;
    <a href="https://gitlab.wikimedia.org/toolforge-repos/query-chest" class="text-muted" target="_blank">
        source code</a>
</div>
</body>
</html>
