{% extends "base.html" %}
{% block content %}
{% if short_url %}
<div class="alert alert-success" role="success">
    Holding the query has been successfully done! <br>
    URL: <a href="{{short_url}}">{{short_url}}</a>
</div>
{% endif %}
{% endblock %}