{% extends "base.html" %}
{% block content %}
Put URL to WDQS or WCQS here:
<form action="/hold" method="post">
    <div class="form-group">
        <label for="url">URL:</label>
        <input type="url" id="url" name="url" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Hold</button>
</form>

{% endblock %}
